body {
  position: relative;
  height: 100vh;
    background: linear-gradient(to bottom,green,purple )
    
}
/* Stijl voor de paarse navigatiebalk */
.purple-navbar {
    background-color: purple; /* Paarse achtergrondkleur */
    color: white; /* Witte tekstkleur */
    text-align: center; /* Centreer de tekst */
    padding: 10px; /* Ruimte rondom de tekst */
    margin-bottom: 5px; /* Ruimte onder de balk */
    border-radius: 5px; /* Hoekjes afronden */
}

/* Stijl voor de titel op de pagina */
.page-title {
    font-size: 36px; /* Pas de grootte van de tekst aan */
    font-family: 'Arial', sans-serif; /* Kies het lettertype */
    margin: 0; /* Verwijder standaard marges */
}
.speciaal {
    border: dashed 3px rgb(8, 143, 33);
    background-color: azure;
    margin-left: 10%;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    display: flex;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: purple;
  }
  .Buuloteli.png {
    position: relative;
    right: 5vw;
    bottom:5vh ;
  }

li a {
  display: block; /* display zorgt voor de weergave van een element*/
  color: white; /* tekst kleur van menu*/
  text-align: center; /* positie van tekst*/
  padding: 25px; /* ruimte rondom de inhoud van een element*/
  text-decoration: none; /* tekst decoratie*/
}

li a:hover:not(.active) {
  background-color: #111;


  .header {
  background-color: greysmoke;
  text-align: center;
  padding: 25px;
  color: blue;
  }

li {
  float: left; /* positie van iets en in dit geval is het links */
}

  p {
  font-family: "Lucida Console", "Courier New", monospace;

.footer { 
  background-color: whitesmoke; /* achtergrond kleur van footer*/
  padding: 12px; /* ruimte rondom de inhoud van een element*/ 
  text-align: center; /* positie van tekst*/
  color: lightskyblue; /* tekst kleur van footer*/
  position: relative; /* positie van footer*/ 
  width: 100%; /* breedte van footer*/
  left: 1; /* ruimte naar de linkerkant*/
}

    .paragraaf {
  padding: 8px; /* ruimte rondom de inhoud van een element*/  
  color: lightskyblue; /* tekst kleur van paragraaf*/
  background-color: whitesmoke; /* achtergrondkleur van paragraaf*/
  font-family: "Times New Roman", Times, serif; /* lettertype*/
  font-size: large; /* lettergrootte*/
}

    #paragraaf2 {
  padding: 8px; /* ruimte rondom de inhoud van een element*/
  color: lightskyblue; /* tekst kleur van paragraaf*/
  background-color: whitesmoke; /* achtergrondkleur van paragraaf*/
  font-family: "Times New Roman", Times, serif; /* lettertype*/
  font-size: large; /* lettergrootte*/
  width: 60%; /* breedte van paragraaf*/
}

    
