body {
    position: relative;
    height: 100vh;
    background: linear-gradient(to bottom, green, purple);
}

/* Stijl voor de paarse navigatiebalk */
.purple-navbar {
    background-color: purple; /* Paarse achtergrondkleur */
    color: white; /* Witte tekstkleur */
    text-align: center; /* Centreer de tekst */
    padding: 10px; /* Ruimte rondom de tekst */
    margin-bottom: 5px; /* Ruimte onder de balk */
    border-radius: 5px; /* Hoekjes afronden */
}

/* Stijl voor de titel op de pagina */
.page-title {
    font-size: 36px; /* Pas de grootte van de tekst aan */
    font-family: 'Arial', sans-serif; /* Kies het lettertype */
    margin: 0; /* Verwijder standaard marges */
}

.speciaal {
    border: dashed 3px rgb(8, 143, 33);
    background-color: azure;
    margin-left: 10%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    display: flex;
}

li {
    float: left; /* positie van iets en in dit geval is het links */
}

li a {
    display: block; /* display zorgt voor de weergave van een element */
    color: white; /* tekst kleur van menu */
    text-align: center; /* positie van tekst */
    padding: 25px; /* ruimte rondom de inhoud van een element */
    text-decoration: none; /* tekst decoratie */
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: purple; /* Hover kleur voor menu-items */
}

li a:hover:not(.active) {
    background-color: #111; /* Hover kleur voor andere menu-items */
}

.Buuloteli.png {
    position: relative;
    right: 5vw;
    bottom: 5vh;
}

.header {
    background-color: greysmoke;
    text-align: center;
    padding: 25px;
    color: blue;
}

p {
    font-family: "Lucida Console", "Courier New", monospace;
}

/* Stijl voor de footer */
.footer { 
    background-color: green; /* Achtergrondkleur van de footer (groen) */
    padding: 12px; /* Ruimte rondom de inhoud van de footer */ 
    text-align: center; /* Centreer de tekst in de footer */
    color: white; /* Tekstkleur van de footer (wit) */
    position: relative; /* Positie van de footer */ 
    width: 100%; /* Breedte van de footer */
    left: 1; /* Ruimte naar de linkerkant */
}
    
