body {
    position: relative;
    height: 100vh;
    background: linear-gradient(to bottom, green, purple);
}

/* Stijl voor de paarse navigatiebalk */
.purple-navbar {
    background-color: purple; /* Paarse achtergrondkleur */
    color: white; /* Witte tekstkleur */
    text-align: center; /* Centreer de tekst */
    padding: 10px; /* Ruimte rondom de tekst */
    margin-bottom: 5px; /* Ruimte onder de balk */
    border-radius: 5px; /* Hoekjes afronden */
}

/* Stijl voor de titel op de pagina */
.page-title {
    font-size: 36px; /* Pas de grootte van de tekst aan */
    font-family: 'Arial', sans-serif; /* Kies het lettertype */
    margin: 0; /* Verwijder standaard marges */
}

/* Stijl voor speciale secties */
.speciaal {
    border: dashed 3px rgb(8, 143, 33);
    background-color: azure;
    margin-left: 10%;
}

/* Navigatiemenu stijl */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    display: flex;
}

li {
    float: left; /* Positie van items in het menu */
}

li a {
    display: block; /* Zorgt voor de weergave van een element */
    color: white; /* Tekstkleur van het menu */
    text-align: center; /* Positie van tekst */
    padding: 25px; /* Ruimte rondom de inhoud van een element */
    text-decoration: none; /* Geen onderstreping van de tekst */
}

/* Hover-effecten voor menu-items */
li a:hover {
    background-color: purple; /* Hover kleur voor actieve menu-items */
}

li a:hover:not(.active) {
    background-color: #111; /* Hover kleur voor andere menu-items */
}

/* Stijl voor de afbeelding */
.Buuloteli.png {
    position: relative;
    right: 5vw;
    bottom: 5vh;
}

/* Stijl voor de titelbalk */
.title-bar {
    border-bottom: 2px solid #ccc; /* Dunne grijze balk onder de titel */
    padding-bottom: 10px; /* Ruimte onder de titel */
    margin-bottom: 20px; /* Ruimte tussen de kopjes */
    font-size: 1.5em; /* Grotere tekst voor de kopjes */
    font-family: Arial, sans-serif;
}

/* Stijl voor paragraaftekst */
p {
    font-family: "Lucida Console", "Courier New", monospace;
}

/* Stijl voor de footer */
.footer {
    background-color: green; /* Achtergrondkleur van de footer */
    padding: 12px; /* Ruimte rondom de inhoud van de footer */
    text-align: center; /* Centreer de tekst in de footer */
    color: white; /* Tekstkleur van de footer */
    position: relative; /* Positie van de footer */
    width: 100%; /* Breedte van de footer */
    left: 1; /* Ruimte naar de linkerkant */
}

